.responsive-div {
    padding: 20px;
    margin: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    /* text-align: center; */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  .text{
    margin-left: 25px;
  }
.img{
    width: 700px;
    height: 600px
  }
@media (max-width: 1200px) {
    .responsive-div {
      width: 80%;
    }
    .img{
        width: 450px;
        height: 350px
      }
  }
@media (min-width: 1024px) {
    .responsive-div {
      display: flex;
    }
  }
@media (max-width: 768px) {
    .responsive-div {
      width: 100%;
      padding: 15px;
    }
   
  }

@media (max-width: 480px) {
    .responsive-div {
      padding: 10px;
      font-size: 14px;
    }
    .img{
        width: 250px;
        height: 200px;
    }
   
  }